main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

ul {
  list-style: none;
}

/* Page content */
h1 {
  font-size: 1em;
  align-content: center;
  padding: 5px;
}

#map {
  height: 100vh;
  width: 100vw;
}

/* nav {
  width: 25%;
} */

#search {
  /* TODO: add search styling */
}

.pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      #target {
        width: 345px;
      }
/* Menu via https://github.com/negomi/react-burger-menu */

.bm-burger-button {
    position: fixed;
    background: beige;
    border-style: outset;
    border-color: grey;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 60px;
}

.bm-burger-bars {
  background: green;
}

.bm-menu {
  background: rgba(255, 255, 255, 0.7);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  height: 100%;
    box-sizing: border-box;
    overflow: auto;
}

.bm-cross {
  background: black;
}

.bm-cross-button {
position: absolute;
width: 24px;
height: 24px;
right: 20px;
top: 8px;
}

.bm-item-list {
  color: black;
  padding: 0.8em;
  height: 100%;
}

.bm-item {
  color: black;
  font-size: 12pt;
  margin: 10px;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
}

li:focus {
  color: blue;
}

.menu-item {
  color: black;
  display: block;
}

.bm-item:hover {
  color: green;
}
